body{
 text-align: center;
 color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-image: url(/imc/ervilhas.jpg);
 background-repeat: repeat;
 background-color: #cccccc;
 font-size: 16px;
}

.container{
    height: 10em;
    position: relative;
}

.form_main{
    margin: 0px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 130%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}

input {
    padding: 6px;
    font-size: 14px;
    margin: 0%; 
    border-radius: 8px;
}

button{
    padding: 12px;
    font-size: 16px;
    margin: 0%;
    color: white;
    background-color:seagreen;
    border-radius: 10px;
    cursor: pointer;
}

.refresh{
    background-color: crimson;
}

button:hover {
    box-shadow: 0 12px 16px 0 grey, 0 17px 50px 0 grey;
}

.resultado{
    background-color: white;
    color: black;
}
/*
} else if (valorImc >= 17 || valorImc < 18, 49) {
    resultado.innerHtml = " <img src='/imc/abaixo-do-peso.jpg'>";
} else if (valorImc >= 18, 5 || valorImc < 24, 99) {
    resultado.innerHTML = " <img src = '/imc/peso-normal.jpg'>";
} else if (valorImc >= 25 || valorImc < 29, 99) {
    resultado.innerHTML = "<img src = '/imc/acima-do-peso.jpg'>";
} else if (valorImc >= 30 || valorImc < 34, 99) {
    resultado.innerHTML = "<img src ='/imc/obesidade1.jpg'>";
} else if (valorImc >= 35 || valorImc < 39, 99) {
    resultado.innerHTML = "<img src ='/imc/obesidade2.jpg'>";
} else if (valorImc > 40) {
    resultado.innerHTML = "img src = 'imc/obesidade3.jpg'>";